.wrapper-menu{
    
    margin: auto;
    width:1200px;
    background-color: $color-bg-base;


    .menu {
        display:flex;
        padding-top: 20px;
        padding-bottom: 40px;

        .logo {
            align-items: center;
            padding-right: 40px;
        } 
    }
      

    .menu-large {
        display: flex;
        list-style:none;
        padding: 50px 0px 0px;

        li {
            align-items: center;
            justify-content: center;
            padding: 0px 10px;
            
            &.lista {
                font-family: $main-font;
                font-size: $font-size-medium;
                color: $text-gray;
                text-transform: uppercase; 
                font-weight: 700;
            }
            
        }
        
  
    }

    .search {
        display: flex;
        align-items: center;
        padding-left: 50px;
        margin-top: 5px;
        border-bottom: 3px solid $color-bg;

        .cerca {
            
            font-family: $main-font;
            font-size: $font-size-medium;
            color: $text-gray;
            font-weight: 500;
            padding-right: 10px;
        }
     
    }

}


    