//colors

$body-bg: #000;

$color-bg: #0282F9;

$color-main:  #222222;
$color-section: #3f3f3f;
$color-footer-bottom: #303030;
$color-bg-base: #fff;


//text-color

$text-w: #fff;

$text-footer: #959595;

$text-gray: #464646;

//typo

$main-font: 'Space Grotesk', sans-serif;
$font-size-small: 13px;
$font-size-medium: 16px;
$font-size-large: 26px;

$font-size-h2: 48px;
$font-size-subtitle: 18px;


// image

$logo: url('public\img\logo.png') ;

$background-size: cover;